# Игнорируем локальное окружение Python (главный виновник!)
venv/
.venv/
env/

# Игнорируем тяжелые зависимости фронтенда
frontend/node_modules/
frontend/build/

# Игнорируем тяжелые архивы в корне
*.zip
*.tar.gz

# Игнорируем кэш Python и настройки редакторов
__pycache__/
*.pyc
.git/
.idea/
.cursor/